files/
framexs/
framexs2/
framexs3/
javascript/
danger-products/
r18-products/

lib/
files/node_modules/
.dest/
.ignore/
files.iml
/.nb-gradle/
.idea/
.properties
*~
*.log
electron/node_modules/
.project

*~
