@CHARSET "UTF-8";

.breadcrumbs {
	margin: 3px;
}

.adv {
	padding: 5px;
	text-align: center;
	border: double medium purple;
}

.adv_item {
	margin: 10px;
	padding: auto;
	text-align: center;
}
.adv_item div {
	margin: auto;
}
.section {
	width: 90%;
	margin: auto
}

ul.contexts {
	clear: both;
}
ul.contexts li {
	display: inline;
}

ul.contexts li:before {
	content: " ●";
}

.form {
	margin: 1ex;
}

.form td {
	padding: 10px;
}

.number {
	font-family: monospace;
}

.datetime {
	font-family: monospace;
}

.articleTable {
	text-align: center;
	font-size: small;
	margin-right: auto;
	margin-left: auto;
	background-color: lightgrey;
}

.articleTitle {
	width: 40%;
}

.links li {
	padding: 0 0 0 1em;
	border-width: 0;
}

dl.aside {
	margin: 0;
	border-width: 0;
	padding: 0;
}

dl.aside > dt, dl.aside > dd {
	font-size: small;
	background-color: white;
}

dl.aside > dt {
	margin: 1em 1em 0;
	padding: 0.25em;
	font-weight: bold;
}

dl.aside > dd {
	margin: 0 1em 1em;
}

dl.aside ul, dl.aside ol, dl.aside dl {
	border-width: 0;
	padding: 0;
	list-style-type: none;
}

.add_button {
	padding: 5px;
}

#logo {
	width: 300px;
	float:left;
	padding: 16px;
	font-size: 24px;
}
#accountInfo {
	width: 200px;
	float: right;
	padding: 8px;
}
